<div class='row'>
  <%= f.input :name, placeholder: 'Name' %>
</div>
<div class='row'>
  <%= f.input :address, placeholder: 'Adresse' %>
</div>
<div class='row'>
  <%= f.input :contact_person, placeholder: 'Kontakt Person' %>
</div>
<div class='row'>
  <%= f.input :telephone, placeholder: 'Telefon Nr.' %>
</div>
<div class='row'>
  <%= f.input :email, placeholder: 'Email' %>
</div>
<div class='row'>
  <%= f.input :website, placeholder: 'Webseite' %>
</div>
<div class='row'>
  <%= f.input :night_addition_in_percent, placeholder: 'Nachtzuschlag', class: 'number' %>
</div>
<div class='row'>
  <%= f.input :sunday_addition_in_percent, placeholder: 'Sonntagszuschlag', class: 'number' %>
</div>
<div class='row'>
  <%= f.input :holiday_addition_in_percent, placeholder: 'Feiertagszuschlag', class: 'number' %>
</div>
